/* Fixed header & sticky footer styles
-------------------------------------------------- */
html
{
    position: relative;
    min-height: 100%;
}
#main
{
    padding-top: 80px;
    padding-bottom: 80px;
}
#footer
{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}
.container
{
    min-width: 550px;
}
/* Cat picture style
-------------------------------------------------- */
.cat-pic-container .cat-pic
{
    min-width: 550px;
    max-width: 750px;
    margin: 0 auto;
}

.cat-pic-container .cat-pic img
{
    width: 100%;
    height: 300px;
    border: 1px solid;
}
.form-horizontal .control-label
{
    text-align: left;
}