<div class="page-header">
    <h1>Edit user</h1>
</div>
<p class="lead">User details.</p>
<form name="form" class="form-horizontal" role="form" autocomplete="off" novalidate>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-9 has-feedback" data-ng-class="{'has-error': form.email.$invalid, 'has-success': !form.email.$invalid}">
            <input id="email" name="email" type="email" class="form-control" data-ng-model="user.email" data-required>
            <span data-ng-show="form.email.$dirty && form.email.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></span>
            <span data-ng-show="!form.email.$invalid" class="form-control-feedback glyphicon glyphicon-ok"></span>
            <p data-ng-show="form.email.$invalid" class="help-block error">
                <span data-ng-show="form.email.$error.required">is required.</span>
                <span data-ng-show="form.email.$error.email">not a well-formed email address.</span>
                <span data-ng-show="form.email.$error.server">{{form.email.$error.server}}</span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">First Name:</label>
        <div class="col-sm-9 has-success has-feedback">
            <input id="firstName" name="firstName" type="text" class="form-control" data-ng-model="user.firstName">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name:</label>
        <div class="col-sm-9 has-success has-feedback">
            <input id="lastName" name="lastName" type="text" class="form-control" data-ng-model="user.lastName">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</form>
<br>
<p class="text-right">
    <button type="button" class="btn btn-primary" data-ng-click="save();">Save</button>
    <button type="button" class="btn btn-default" data-ng-click="cancel();">Cancel</button>
</p>