<div class="jumbotron">
    <h1>Hazelwood IDMS</h1>
    <p>Hazelwood IDMS provides a basic identity management solution, making it easier to secure and manage access to web applications.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<p class="lead text-center">Thanks for stopping by, here is a random cat picture for your viewing pleasure.</p>
<div class="pic-container">
    <div class="well">
        <div class="pic">
            <div class="spinner" data-ng-show="imgLoading">
                <i class="fa fa-spinner fa-5x fa-spin"></i>
            </div>
            <img src="" data-ng-src="{{imgUrl}}" data-ng-hide="imgLoading" data-idms-load="imgLoaded();" width="100%" height="100%">
        </div>
    </div>
    <div class="well">
        <button type="button" class="btn btn-default btn-lg btn-block" data-ng-click="imgUpdate();">New random picture</button>
    </div>
</div>
